#header
  #logo
    a(href='#home') weknet
  ul#menu
    li(data-menuanchor='home')
      a(href='#home')
        span.en HOME
        span.zh 首页
    li(data-menuanchor='about')
      a(href='#about')
        span.en ABOUT
        span.zh 我们
    li(data-menuanchor='culture')
      a(href='#culture')
        span.en CULTURE
        span.zh 文化
    li(data-menuanchor='news')
      a(href='#news')
        span.en NEWS
        span.zh 新闻
    li(data-menuanchor='services')
      a(href='#services')
        span.en SERVICES
        span.zh 服务
    li(data-menuanchor='recruit')
      a(href='#recruit')
        span.en RECRUIT
        span.zh 招聘
    li(data-menuanchor='contact')
      a(href='#contact')
        span.en CONTACT
        span.zh 联系
